<div class="container">
  <h1>Create a new list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "Name your list here..." %>
    <%= f.button :submit, class: "btn btn-secondary" %>
  <% end %>
</div>
